    <section id="related-products" class="related-products product-carousel py-5 position-relative open-up"
      data-aos="zoom-out">
      <div class="container">
        <div class="d-flex flex-wrap justify-content-between align-items-center mt-5 mb-3">
          <h4 class="text-uppercase">You May Also Like</h4>
          <a href="shop-sidebar.html" class="btn-link">View All Products</a>
        </div>
        <div class="swiper product-swiper overflow-hidden">
          <div class="swiper-wrapper d-flex">
            <div class="swiper-slide">
              <div class="product-item image-zoom-effect link-effect">
                <div class="image-holder">
                  <a href="single-product.html">
                    <img src="../../assets/images/product-thumb-18.jpg" alt="product" class="product-image img-fluid">
                  </a>
                  <a href="wishlist.html" class="btn-icon btn-wishlist">
                    <svg width="24" height="24" viewBox="0 0 24 24">
                      <use xlink:href="#heart"></use>
                    </svg>
                  </a>
                  <div class="product-content">
                    <h5 class="text-uppercase fs-5 mt-3">
                      <a href="single-product.html">Dark florish onepiece</a>
                    </h5>
                    <a href="cart.html" class="text-decoration-none" data-after="Add to cart"><span>$95.00</span></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="product-item image-zoom-effect link-effect">
                <div class="image-holder">
                  <a href="single-product.html">
                    <img src="../../assets/images/product-thumb-19.jpg" alt="product" class="product-image img-fluid">
                  </a>
                  <a href="wishlist.html" class="btn-icon btn-wishlist">
                    <svg width="24" height="24" viewBox="0 0 24 24">
                      <use xlink:href="#heart"></use>
                    </svg>
                  </a>
                  <div class="product-content">
                    <h5 class="text-uppercase fs-5 mt-3">
                      <a href="single-product.html">Baggy Shirt</a>
                    </h5>
                    <a href="cart.html" class="text-decoration-none" data-after="Add to cart"><span>$55.00</span></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="product-item image-zoom-effect link-effect">
                <div class="image-holder">
                  <a href="single-product.html">
                    <img src="../../assets/images/product-thumb-20.jpg" alt="product" class="product-image img-fluid">
                  </a>
                  <a href="wishlist.html" class="btn-icon btn-wishlist">
                    <svg width="24" height="24" viewBox="0 0 24 24">
                      <use xlink:href="#heart"></use>
                    </svg>
                  </a>
                  <div class="product-content">
                    <h5 class="text-uppercase fs-5 mt-3">
                      <a href="single-product.html">Cotton off-white shirt</a>
                    </h5>
                    <a href="cart.html" class="text-decoration-none" data-after="Add to cart"><span>$65.00</span></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="product-item image-zoom-effect link-effect">
                <div class="image-holder">
                  <a href="single-product.html">
                    <img src="../../assets/images/product-thumb-21.jpg" alt="product" class="product-image img-fluid">
                  </a>
                  <a href="wishlist.html" class="btn-icon btn-wishlist">
                    <svg width="24" height="24" viewBox="0 0 24 24">
                      <use xlink:href="#heart"></use>
                    </svg>
                  </a>
                  <div class="product-content">
                    <h5 class="text-uppercase fs-5 mt-3">
                      <a href="single-product.html">Handmade crop sweater</a>
                    </h5>
                    <a href="cart.html" class="text-decoration-none" data-after="Add to cart"><span>$50.00</span></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="product-item image-zoom-effect link-effect">
                <div class="image-holder">
                  <a href="single-product.html">
                    <img src="../../assets/images/product-thumb-22.jpg" alt="product" class="product-image img-fluid">
                  </a>
                  <a href="wishlist.html" class="btn-icon btn-wishlist">
                    <svg width="24" height="24" viewBox="0 0 24 24">
                      <use xlink:href="#heart"></use>
                    </svg>
                  </a>
                  <div class="product-content">
                    <h5 class="text-uppercase fs-5 mt-3">
                      <a href="single-product.html">Handmade crop sweater</a>
                    </h5>
                    <a href="cart.html" class="text-decoration-none" data-after="Add to cart"><span>$70.00</span></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="product-item image-zoom-effect link-effect">
                <div class="image-holder">
                  <a href="single-product.html">
                    <img src="../../assets/images/product-thumb-23.jpg" alt="product" class="product-image img-fluid">
                  </a>
                  <a href="wishlist.html" class="btn-icon btn-wishlist">
                    <svg width="24" height="24" viewBox="0 0 24 24">
                      <use xlink:href="#heart"></use>
                    </svg>
                  </a>
                  <div class="product-content">
                    <h5 class="text-uppercase fs-5 mt-3">
                      <a href="single-product.html">Handmade crop sweater</a>
                    </h5>
                    <a href="cart.html" class="text-decoration-none" data-after="Add to cart"><span>$70.00</span></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="product-item image-zoom-effect link-effect">
                <div class="image-holder">
                  <a href="single-product.html">
                    <img src="../../assets/images/product-thumb-24.jpg" alt="product" class="product-image img-fluid">
                  </a>
                  <a href="wishlist.html" class="btn-icon btn-wishlist">
                    <svg width="24" height="24" viewBox="0 0 24 24">
                      <use xlink:href="#heart"></use>
                    </svg>
                  </a>
                  <div class="product-content">
                    <h5 class="text-uppercase fs-5 mt-3">
                      <a href="single-product.html">Handmade crop sweater</a>
                    </h5>
                    <a href="cart.html" class="text-decoration-none" data-after="Add to cart"><span>$70.00</span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
        <div class="icon-arrow icon-arrow-left"><svg width="50" height="50" viewBox="0 0 24 24">
            <use xlink:href="#angle-left"></use>
          </svg></div>
        <div class="icon-arrow icon-arrow-right"><svg width="50" height="50" viewBox="0 0 24 24">
            <use xlink:href="#angle-right"></use>
          </svg></div>
      </div>
    </section>