<section id="about-us">
  <div class="vertical-element py-5">
    <div class="container">
      <div class="row align-items-center">
        <!-- Text Column -->
        <div class="col-md-6">
          <div class="section-element p-4">
            <h2 class="element-title text-uppercase">{{ aboutTitle }}</h2>
            <p class="about-description" [innerHTML]="aboutDescription | linebreaks"></p>
          </div>
        </div>

        <!-- Image Column -->
        <div class="col-md-6" *ngIf="aboutImageUrl">
          <div class="image-holder text-center text-md-end p-4">
            <img [src]="aboutImageUrl" alt="About Us" class="img-fluid rounded" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
