<nav class="navbar navbar-expand-lg navbar-light text-white text-uppercase fs-6 p-3 border-bottom border-light align-items-center fixed-top border-opacity-10">
  <div class="container-fluid">
    <div class="row justify-content-between align-items-center w-100">

      <div class="col-auto">
        <a class="navbar-brand" [routerLink]="['/']">
          <img [src]="logoUrl" alt="logo" class="navbar-logo">
        </a>
      </div>

      <div class="col-auto">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
          aria-controls="offcanvasNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>

          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 gap-1 gap-md-5 pe-3">
              <li class="nav-item">
                <a class="nav-link active" [routerLink]="['/']">Accueil</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/shop']">Boutique</a>
              </li>
              <li class="nav-item dropdown category-dropdown" *ngIf="activeCategories.length > 0">
  <a class="nav-link dropdown-toggle"  id="categoryDropdown" data-bs-toggle="dropdown">
    Catégorie
  </a>
  <ul class="dropdown-menu list-unstyled" aria-labelledby="categoryDropdown">
    <li *ngFor="let category of activeCategories">
      <a  class="dropdown-item item-anchor" (click)="goToCategory(category.name)">
        {{ category.name }}
      </a>
    </li>
  </ul>
</li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/contact']">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/faq']">FAQ</a>
              </li>
              <li class="nav-item">
    <a class="nav-link" [routerLink]="['/about']">À Propos</a>
  </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-3 col-lg-auto">
        <ul class="list-unstyled d-flex m-0">
          <li>
            <a  class="nav-link text-uppercase mx-3" data-bs-toggle="offcanvas" data-bs-target="#offcanvasCart">
              Panier <span class="cart-count">({{ cartCount }})</span>
            </a>
          </li>
          
        </ul>
      </div>

    </div>
  </div>
</nav>
