<main class="main-content mt-5">

  <section id="product-detail" class="single-product py-5 no-padding-top" *ngIf="product">
    <div class="container">
      <div class="row g-5">
        <div class="col-md-7">
          <div class="row flex-column-reverse flex-lg-row">
            <div class="col-md-12 col-lg-3">
              <div class="swiper product-thumbnail-slider">
                <div class="swiper-wrapper">
                  <div class="swiper-slide" *ngFor="let img of selectedVariant?.images; trackBy: trackByImg">
                    <img [src]="img" class="thumb-image img-fluid" [alt]="'Product thumbnail ' + (selectedVariant?.color || '')">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-lg-9">
              <div class="swiper product-large-slider">
                <div class="swiper-wrapper">
                  <div class="swiper-slide" *ngFor="let img of selectedVariant?.images; trackBy: trackByImg">
                    <div class="image-zoom" data-scale="2.5" [attr.data-image]="img">
                      <img [src]="img" class="img-fluid" [alt]="'Product image ' + (selectedVariant?.color || '')">
                    </div>
                  </div>
                </div>
                <div class="swiper-pagination"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-5">
          <div class="product-info">
            <div class="element-header">
              <h2 itemprop="name" class="product-title text-uppercase">{{ product.title }}</h2>
              <div class="rating-container d-flex align-items-center">
                <ng-container *ngFor="let star of [1,2,3,4,5]; let i = index">
                  <div class="rating">
                    <svg width="32" height="32">
                      <use [attr.xlink:href]="i < 3.5 ? '#star-solid' : '#star-outline'"></use>
                    </svg>
                  </div>
                </ng-container>
              </div>
            </div>

            <div class="product-price">
              <span class="fs-2">DT {{ product.price }}</span>
              <del *ngIf="product.oldPrice"> DT {{ product.oldPrice }}</del>
            </div>

            <p>{{ product.description }}</p>

            <!-- Color Selector -->
            <div class="color-product-options mt-4" *ngIf="product.variants && product.variants.length > 1">
              <div class="color-toggle">
                <div class="item-title">Color:</div>
                <div class="color-options d-flex">
                  <div *ngFor="let variant of product.variants; trackBy: trackByVariant" 
                       class="color-item" 
                       [class.border]="isColorSelected(variant.color)"
                       (click)="selectColor(variant.color)">
                    <span
                      class="color-inner"
                      [ngStyle]="{ 'background-color': variant.color }"
                      [title]="variant.color"
                      [class.active]="isColorSelected(variant.color)">
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <!-- Size Selector -->
            <div class="swatch d-flex flex-wrap option-1 mt-4" *ngIf="selectedVariant?.sizes?.length">
              <div class="item-title">Size:</div>
              <ng-container *ngFor="let size of selectedVariant?.sizes; trackBy: trackBySize">
                <div class="swatch-element">
                  <input class="swatch-input hide" 
                         [id]="'size-' + size.size" 
                         type="radio" 
                         name="option-1" 
                         [value]="size.size"
                         [(ngModel)]="selectedSize"
                         [disabled]="size.stock === 0">
                  <label class="swatch-label square-only" 
                         [attr.for]="'size-' + size.size"
                         [class.disabled]="size.stock === 0">
                    {{ size.size }}
                  </label>
                </div>
              </ng-container>
            </div>

            <div class="product-action mt-4">
              <div class="item-title" *ngIf="selectedVariant?.sizes?.length">
                {{ getTotalStock() }} in stock
              </div>
              <div class="product-quantity d-flex flex-wrap">
                <div class="input-group product-qty me-3" style="max-width: 150px;">
                  <span class="input-group-btn">
                    <button type="button" class="quantity-left-minus btn btn-light btn-number"
                      (click)="decreaseQuantity()">
                      <mat-icon>remove</mat-icon>
                    </button>
                  </span>
                  <input type="number" [(ngModel)]="quantity" min="1" max="100" class="form-control input-number text-center">
                  <span class="input-group-btn">
                    <button type="button" class="quantity-right-plus btn btn-light btn-number"
                      (click)="increaseQuantity()">
                      <mat-icon>add</mat-icon>
                    </button>
                  </span>
                </div>
                <button type="button" class="btn btn-dark product-cart-submit btn-lg text-uppercase me-3"
                  (click)="addToCart()">
                  <span>Add to Cart</span>
                </button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- Product Description Tabs (previously translated) -->
  <app-product-description [additionalInfo]="product?.additionalInfo" [sizeGuide]="product?.sizeGuide"></app-product-description>

</main>
