<section class="hero-section jarallax">
  <img src="../../../assets/images/banner-large-4.jpg" class="jarallax-img" />
  <div class="py-5">
    <div class="container">
      <div class="row"></div>
    </div>
  </div>
</section>

<div class="accordion container py-5" id="accordion-box">
  <div class="accordion-item" *ngFor="let faq of faqs; let i = index">
    <h2 class="accordion-header" [id]="'heading-' + i">
      <button class="accordion-button" type="button"
              [attr.data-bs-toggle]="'collapse'"
              [attr.data-bs-target]="'#collapse-' + i"
              [attr.aria-expanded]="i === 0 ? 'true' : 'false'"
              [attr.aria-controls]="'collapse-' + i"
              [ngClass]="{ collapsed: i !== 0 }">
        {{ i + 1 }}. {{ faq.question }}
      </button>
    </h2>
    <div [id]="'collapse-' + i"
         class="accordion-collapse collapse"
         [ngClass]="{ show: i === 0 }"
         [attr.aria-labelledby]="'heading-' + i"
         data-bs-parent="#accordion-box">
      <div class="accordion-body" [innerHTML]="faq.answer"></div>
    </div>
  </div>
</div>
