<section class="text-white">
  <div #swiperWrapper class="slideshow slide-in" style="height: 100vh;" *ngIf="carousels.length > 0">
    <div class="swiper-wrapper">
      <div
        class="swiper-slide d-flex align-items-center"
        *ngFor="let item of carousels"
        [style.backgroundImage]="'url(' + item.imageUrl + ')'"
      >
        <div class="banner-content w-100">
          <div class="container">
            <div class="row">
              <div class="col-md-6 offset-md-6">
                <h2 class="display-1 text-uppercase mt-5 pt-5">{{ item.title }}</h2>
                <p class="caption">{{ item.description }}</p>
                <div class="btn-left btn-swiper">
                  <a [routerLink]="['/shop']" class="btn btn-light text-uppercase mt-3">Voir Collection</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="swiper-pagination"></div>
    <div class="icon-arrow icon-arrow-left text-white">
      <mat-icon style="font-size: 50px; width: 50px; height: 50px;">chevron_left</mat-icon>
    </div>
    <div class="icon-arrow icon-arrow-right text-white">
      <mat-icon style="font-size: 50px; width: 50px; height: 50px;">chevron_right</mat-icon>
    </div>
  </div>
</section>
