
  <div class="search-popup">
    <div class="search-popup-container">

      <form role="search" method="get" class="form-group" action="index.html">
        <input type="search" id="search-form" class="form-control border-0 border-bottom" placeholder="Tapez et appuyez sur entrée" value="" name="s" />
        <button type="submit" class="search-submit border-0 position-absolute bg-white" style="top: 15px;right: 15px;"><mat-icon>search</mat-icon></button>
      </form>

      <h5 class="cat-list-title">Parcourir les Catégories</h5>
      
      <ul class="cat-list">
        <li class="cat-list-item">
          <a href="#" title="Vestes">Vestes</a>
        </li>
        <li class="cat-list-item">
          <a href="#" title="T-shirts">T-shirts</a>
        </li>
        <li class="cat-list-item">
          <a href="#" title="Sacs à main">Sacs à main</a>
        </li>
        <li class="cat-list-item">
          <a href="#" title="Accessoires">Accessoires</a>
        </li>
        <li class="cat-list-item">
          <a href="#" title="Cosmétiques">Cosmétiques</a>
        </li>
        <li class="cat-list-item">
          <a href="#" title="Robes">Robes</a>
        </li>
        <li class="cat-list-item">
          <a href="#" title="Combinaisons">Combinaisons</a>
        </li>
      </ul>

    </div>
  </div>