.icon-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 0.3rem;
}

.icon-arrow-left {
  left: 10px;
}

.icon-arrow-right {
  right: 10px;
}

.icon-arrow mat-icon {
  font-size: 40px;
  color: white;
}

.category-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
  text-align: left;
  color: white;
}
