::ng-deep .custom-toast {
  background: linear-gradient(135deg, #28a745, #218838);
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
}
