<footer id="footer" class="mt-5">
  <div class="container">
    <div class="row d-flex flex-wrap justify-content-between py-5">
      
      <!-- Logo + Social -->
      <div class="col-md-3 col-sm-6">
        <div class="footer-menu footer-menu-001">
          <div class="footer-intro mb-4">
            <a [routerLink]="['/']">
              <img *ngIf="logoUrl" [src]="logoUrl" alt="logo" style="max-width: 150px;">
            </a>
          </div>
          <p>{{ description }}</p>
          <div class="social-links">
            <ul class="list-unstyled d-flex flex-wrap gap-3">
              <li *ngIf="facebookUrl">
                <a [href]="facebookUrl" target="_blank" class="text-secondary">
                  <mat-icon>facebook</mat-icon>
                </a>
              </li>
              <li *ngIf="instagramUrl">
                <a [href]="instagramUrl" target="_blank" class="text-secondary">
                  <mat-icon>camera_alt</mat-icon>
                </a>
              </li>
              <li *ngIf="youtubeUrl">
                <a [href]="youtubeUrl" target="_blank" class="text-secondary">
                  <mat-icon>play_circle</mat-icon>
                </a>
              </li>
              <li *ngIf="pinterestUrl">
                <a [href]="pinterestUrl" target="_blank" class="text-secondary">
                  <mat-icon>push_pin</mat-icon>
                </a>
              </li>
              <li *ngIf="threadsUrl">
                <a [href]="threadsUrl" target="_blank" class="text-secondary">
                  <mat-icon>alternate_email</mat-icon>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Quick Links -->
      <div class="col-md-3 col-sm-6">
        <div class="footer-menu footer-menu-002">
          <h5 class="widget-title text-uppercase mb-4">Quick Links</h5>
          <ul class="menu-list list-unstyled text-uppercase border-animation-left fs-6">
            <li class="menu-item"><a [routerLink]="['/']" class="item-anchor">Home</a></li>
            <li class="menu-item"><a [routerLink]="['/about']" class="item-anchor">About</a></li>
            <li class="menu-item"><a [routerLink]="['/shop']" class="item-anchor">Shop</a></li>
            <li class="menu-item"><a [routerLink]="['/faq']" class="item-anchor">FAQ</a></li>
            <li class="menu-item"><a [routerLink]="['/contact']" class="item-anchor">Contact</a></li>
          </ul>
        </div>
      </div>

      <!-- Contact -->
      <div class="col-md-3 col-sm-6">
        <div class="footer-menu footer-menu-004 border-animation-left">
          <h5 class="widget-title text-uppercase mb-4">Contact Us</h5>
          <p>
            Do you have any questions or suggestions?
            <a *ngIf="email" [href]="'mailto:' + email" class="item-anchor">{{ email }}</a>
          </p>
        </div>
      </div>

    </div>
  </div>
</footer>
